/* app css stylesheet */

body{
    background-color: #E2DADB;
    color: #DAE2DF;
}
.main.container{
    height: 90%;
    margin-top:10%;
    background-color: #E2DADB;
}
.task{
    background-color: #A2A7A5;
}
.taskcolumn{
    background-color: #6D696A;
}
